kestra/flows/social-media-workflow.yml
id: social-media-workflow
namespace: kestra.aiops
description: A workflow for social media posts, Slack alerts, and email notifications.

inputs:
  - id: server_uri
    type: URI
    defaults: https://kestra.io
  - id: slack_webhook_uri
    type: URI
    defaults: "{{ kv('SLACK_WEBHOOK_URI') }}"
  - id: recipients
    type: STRING
    defaults: ["afvn.in@gmail.com"]
  - id: api_url
    type: URI
    defaults: https://api.github.com/repos/kestra-io/kestra/releases/latest
  - id: gen_ai_api_key 
    type: STRING
    defaults: "{{ kv('GEMINI_API_KEY') }}"
    description: "API key for Google Generative AI"
  # - id: content
  #   type: STRING
  #   description: "Content to generate a Twitter post from"

tasks:
  - id: fetch_kestra_github_api
    type: io.kestra.plugin.core.http.Request
    uri: '{{ inputs.api_url }}'
    method: GET
    headers:
      Accept: application/vnd.github+json
      X-GitHub-Api-Version: 2022-11-28
      User-Agent: Awesome-Octocat-App
    logLevel: INFO

  - id: create_kestra_updates_content
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: golang:latest
    inputFiles:
      main.go: |
        package main

        import (
            "encoding/json"
            "fmt"
            "os"
            "log"
        )

        type GitHubRelease struct {
            TagName     string `json:"tag_name"`
            Name        string `json:"name"`
            Body        string `json:"body"`
            PublishedAt string `json:"published_at"`
        }

        func main() {
            // GitHub release JSON response passed from Kestra
            var release GitHubRelease
            err := json.Unmarshal([]byte(os.Getenv("KESTRA_RELEASES_BODY")), &release)
            if err != nil {
                log.Fatal(err)
            }

            // Format the release information
            kestra := release
            postContent := fmt.Sprintf("Latest Kestra Release:\nDetails:\n%s", kestra.Body)

            // Write to output file
            err = os.WriteFile("output.txt", []byte(postContent), 0644)
            if err != nil {
                log.Fatalf("Failed to write output file: %v", err)
            }
        }
    outputFiles:
      - "output.txt"
    commands:
      - go run main.go
    env:
      KESTRA_RELEASES_BODY: "{{ outputs.fetch_kestra_github_api.body }}"

  - id: log_kestra_latest_update
    type: io.kestra.plugin.core.log.Log
    message: "{{ read(outputs.create_kestra_updates_content.outputFiles['output.txt']) }}"
  
  - id: generate_twitter_post
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:slim
    beforeCommands:
      - pip install google-generativeai
    warningOnStdErr: false
    outputFiles:
      - "twitter_post.txt"
    script: |
      import google.generativeai as genai

      # Configure Generative AI API key
      genai.configure(api_key="{{ inputs.gen_ai_api_key }}")

      # Input content for the Twitter post
      content = """{{ read(outputs.create_kestra_updates_content.outputFiles['output.txt']) }}"""

      # Prepare the input for the Twitter post
      input_content = "Write a concise and engaging Twitter post for the following: " + content

      # Initialize the GenerativeModel
      model = genai.GenerativeModel("gemini-1.5-flash")

      # Generate concise and engaging Twitter post
      response = model.generate_content(
      input_content,
      generation_config=genai.types.GenerationConfig(
        candidate_count=1,
        stop_sequences=["x"],
        max_output_tokens=400,
        temperature=1.0,
        ),
      )

       # Extract the generated post
      twitter_post = response.text if response.candidates else "No content generated."

      # Save the generated post to a file
      with open("twitter_post.txt", "w") as file:
          file.write(twitter_post)

  - id: send_slack_latest_update
    type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
    url: "{{ inputs.slack_webhook_uri }}"
    payload: |
      {
        "channel": "#random",
        "text": "New Kestra update available: {{ read(outputs.create_kestra_updates_content.outputFiles['output.txt']) }}"
      }

  - id: send_email_notifications
    type: io.kestra.plugin.notifications.mail.MailSend
    from: afzal442@gmail.com
    to: "{{ inputs.recipients }}"
    subject: "New Kestra Release Available!"
    htmlTextContent: |
      Hi there,

      A new Kestra release is available! Here are the details:
      {{ read(outputs.create_kestra_updates_content.outputFiles['output.txt']) }}

      Best regards,
      The Kestra Team

  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "Process completed. Slack and email notifications sent."
    
errors:
  - id: server_unreachable
    type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
    url: "{{ inputs.slack_webhook_uri }}"
    payload: |
      {
        "channel": "#alerts",
        "text": "The server {{ inputs.server_uri }} is unreachable!"
      }
    
triggers:
  - id: daily
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 * * *"
    description: "Run daily to fetch Kestra updates and send notifications."